body {
    font-family: 'Questrial', sans-serif;
    background: #1a1a1a;
    max-width: 100vw;
}

.main {
    width: 100%!important;
    overflow-x: hidden!important;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    margin-bottom: 0px;
}

hr {
    border-color: rgba(23, 51, 48, 0.8);
    border-style: solid;
    margin-bottom: 20px;
}

small {
    color: grey;
}

section, section .row {
    padding-top: 0.5vh;
}

nav {
    position: fixed;
    z-index: 2;
    background: rgba(26, 26, 26, 0.0);
    transition: top 0.5s, background 1s;
}

.fa {
    height: auto;
}

#period {
    visibility: hidden;
    transition: visibility;
}

#copyright {
    margin-bottom: 0px;
}

#landing {
    height: 100vh;
}

#development img {
    border-radius: 2px;
}

#landing h3 div {
    display: inline-block;
}

.profile-pic {
    width: 150px;
    height: 150px;
    margin: 20px 0px;
    border-radius: 100%;
}
